language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t youngoose/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true youngoose/docker-react npm run test